@import 'mixins';

$primary-font: 'Courier New', Courier, monospace;

.container {
  margin: 10%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: $primary-font;
  @include mediaWidth() {
    background-color: blue;
  }
}
